{% extends 'base.html' %}

{% block title %} Supervisor: Błąd 404 {% endblock %}

{%block content%}
	<div class="separator"></div>
	<div class="separator"></div>
	<div class="separator"></div>
    
    <div class="center_vertical">
			<div class="alert alert-error single_content_center content">
                <div class="centered_description large_font ">
                	<br>
					<h1>Błąd 404. Nie odnaleziono strony.</h1>
                </div>
			</div>
			<div class="separator"></div>
			</div>
{%endblock%}
