{% extends 'base.html' %}

{% block title %} Supervisor: Błąd 500 {% endblock %}

{%block content%}
	<div class="separator"></div>
	<div class="separator"></div>
	<div class="separator"></div>
    
    <div class="center_vertical">
			<div class="single_content_center content">
                <div class="centered_description large_font alert alert-error">
                	<br>
					<h1>Błąd 500. Wystąpił błąd serwera.</h1>
                </div>
			</div>
			<div class="separator"></div>
			</div>
{%endblock%}
