{% extends 'base.html' %}

{% block title %} Supervisor: Strona główna {% endblock %}

{%block content%}
    <div class="container-fluid">
		<div class="center_vertical">
			<div class="single_content_center content">
				<div>
				<a class="download_client" href="#"></a>
                </div>
                <div class="centered_description large_font">
					 <br>
                    <a href="#">Pobierz mobilnego klienta Supervisor na swojego smartfona</a>
                    <br><br>
                    <p><span class="label">http://bardzodlugiadresurldoaplikacji.org</span></p>
                </div>
			</div>
			<div class="separator" ></div>
			<div class="single_content_center content">
				<div>
				<a class="login" href="."></a>
                </div>
                    {%if user.username %}      
                        <div class="centered_description large_font">
                            <br><br>
                                <a href="/user_main/">Zalogowano jako: {{user.username}} </a>                          
                            </div>                        
                        </div>    
                    {% else %}
                         <div class="centered_description large_font">
					         <br>
                            <a href="/login/">Zaloguj się do systemu</a>
                            <br><br>
                            <a class="btn btn-success btn-large" href="/login/">Zaloguj</a>
                        </div>
                    {% endif %}                    
                
			</div>
			<div class="separator" ></div>
			<div class="single_content_center content">
				<div>
				<a class="system_info" href="#"></a>
                </div>
                <div class="centered_description large_font">
					 <br>
                    <a href="#">Przeczytaj opis działania systemu</a>
                    <br><br>
                    <a class="btn btn-primary btn-large">Przejdź do opisu</a>
                </div>
			</div>
		</div>
	</div>
</div><div class="separator" ></div><div class="separator" ></div>
{%endblock%}
