{% extends 'base.html' %}

{% block title %} Supervisor: Logowanie {% endblock %}

{%block content%}
	<div class="separator"></div>
	<div class="separator"></div>
	<div class="separator"></div>
    
    <div class="center_vertical">
			<div style="height: 350px; width: 600px;"class="single_content_center content centered_description">
			
                {% if form.errors %}
            <br>
			<ul class="errorlist">
			<br>
		    <li><div class="alert alert-error">Zła nazwa użytkownika lub hasło.<i class="icon-remove icon-white"></i></div></li>
			</ul>
		  	{% else %}
			<br><br><br><br>
			{% endif %}
             <form action="" method="post">
		          {% csrf_token %}
		            <br><label for="username">Nazwa użytkownika:</label><br>
		            <input type="text" name="username" value="" id="username" autofocus="autofocus">
		            <br><label for="password">Hasło:</label><br>
		            <input type="password" name="password" value="" id="password"><br><br>
		            <p><button type="submit" class="btn btn-success btn-large">Zaloguj</button></p><br>
		            <input type="hidden" name="next"
				        {% if request.GET.next %}
				        value="{{next}}" 
				        {% else %}
				        value = "/user_main/"
				        {% endif %}
			        />
	        </form>
			</div>
			<div class="separator"></div>
			</div>
{%endblock%}


