{% extends 'base.html' %}

{% block title %} Supervisor: Brak uprawnień {% endblock %}

{%block content%}
	<div class="separator"></div>
	<div class="separator"></div>
	<div class="separator"></div>
    
    <div class="center_vertical">
			<div class="single_content_center content">
                <div class="centered_description large_font alert alert-error">
                	<br>
					<h1>Twoje konto nie ma uprawnień do wyświetlenia tej strony!</h1>
    				 <h1>Aby dodać nowego użytkownika mobilnego musisz posiadać uprawnienia administracyjne.</h1> <br>
     				<a href="/admin/" class="btn">Zaloguj się jako administrator</a>
                </div>
			</div>
			<div class="separator"></div>
			</div>
{%endblock%}
