{% extends 'user_main.html' %}
	{% block minor_title %}Szczegóły zadania{% endblock %}
{% block user_main_content %}
             <form id="task-form" class="form-horizontal">
              <fieldset>
                  <label class="control-label" for="inputname">Nazwa zadania</label>
                  <div class="controls">
                    <input type="text" class="input-xlarge" id="inputname" value="{{task.name}}" disabled="">
                  </div><br>
                    <div class="control-group">
                  <label class="control-label" for="inputuser">Użytkownik</label> 
                  <div class="controls">
                    <input type="text" class="input-xlarge disabled" id="inputuser" value="{{task.fieldUser}}" disabled="">
                    <div id="usersuggest" class="suggest2"></div>
                    <a class ="btn" id="user_profile" href="/field_user/{{task.fieldUser.pk}}/"><i class="icon-user"></i> Pokaż profil</a>
                  </div>
                   <br> 
                   <label class="control-label" for="inputsuper">Nadzorca</label> 
                  <div class="controls">
                    <input type="text" class="input-xlarge disabled" id="inputsuper" value="{{task.supervisor}}" disabled="">
                  </div>
                   <br> 
                  <label class="control-label" for="selectstate">Stan zadania</label>
                  <div class="controls">
                    <select id="selectstate" disabled>
                        <option value="{{task.state}}">{{curr_desc}}</option>
                        {% if not task.state == "3" %}
                        	<option value="3">Wykonane</option>
                        {% endif %}
                        {% if not task.state == "2" %}
                        	<option value="2">Aktywne</option>
                        {% endif %}
                        {% if not task.state == "1" %}
                        	<option value="1">Oczekujące</option>
                        {% endif %}
                        {% if not task.state == "0" %}
                        	<option value="0">Anulowane</option>
                        {% endif %}
                      </select>
                  </div>
                <br> 
                  <label class="control-label" for="inputdesc">Opis zadania</label>
                  <div class="controls">
                    <textarea class="input-xlarge disabled" id="inputdesc" rows="3" 
                    style="margin-left: 0px; margin-right: 0px; width: 270px; margin-top: 0px; 
                    margin-bottom: 0px; height: 58px; " disabled="">{{task.description}}</textarea>
                  </div>
                 <br> 
                  <label class="control-label" for="inputlat">Szerokość<br>geograficzna</label>
                  <div class="controls">
                    <input type="text" class="input-xlarge" id="inputlat" value="{{lat}}" disabled="">
                  </div>
                <br> 
                  <label class="control-label" for="inputlon">Długość<br>geograficzna</label>
                  <div class="controls">
                    <input class="input-xlarge disabled" id="inputlon" type="text" value="{{lon}}" disabled="">
                    <a class ="btn" id="refresh"><i class="icon-refresh"></i> Odśwież mapę</a>
                  </div>
                </div>
              </fieldset>
            <div class="form-actions">
                <a id="edit_task" class="btn" type="edit">
                	<i class="icon-asterisk"></i>
                    Modyfikuj
                </a>
                <a id="save_task" class="btn btn-success" type="submit">
                	<i class="icon-ok"></i>
                    Zatwierdź
                </a>
                <a id="cancel_change" class="btn btn-warning" type="submit">
                	<i class="icon-ban-circle"></i>
                    Anuluj zmiany
                </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a id="show_history" class="btn btn-info" href="/task_history/{{task.pk}}">
                	<i class="icon-book"></i>
                    Pokaż historię zadania
                </a>
              </div>
             </form>
             <div class="well" id="map_wrap">
                <div id="map"></div>
            </div>
{% endblock %} 
