{% extends "user_main.html" %}

{% block title %} Supervisor: zadania {% endblock %}

{% block user_main_content %}
			<p class="centered_description">Filtruj zadania</p><br>
           <form class="well" method="get" action="/search/">
                    <input type="text" class="input-medium search-query" id="inputname" placeholder="Nazwa zadania" name="name"/>
                    <div id="namesuggest" class="suggest"></div>
                    <input type="text" class="input-medium search-query" id="inputuser" placeholder="Użytkownik wykonujący" name="user"/>
                    <div id="usersuggest" class="suggest"></div>
                    <input type="text" class="input-medium search-query" id="inputsuper" placeholder="Nadzorca zadania" name="super"/>
                    <div id="supersuggest" class="suggest"></div> <br> <br>
                    <select id="selectstate" class="input" name="state">
                        <option value="4" >Dowolny stan</option>
                        	<option value="3">Wykonane</option>
                        	<option value="2">Aktywne</option>
                        	<option value="1">Oczekujące</option>
                        	<option value="0">Anulowane</option>
                      </select> 
                      
                      <select id="selecttime" name="time">
                        <option value="4">Dowolny okres zmian</option>
                        	<option value="3">Z dziś</option>
                        	<option value="2">Z wczoraj</option>
                        	<option value="1">Ostatni tydzień</option>
                        	<option value="0">Zakres dat</option>
                      </select>
		 <input id="dateFrom" class="input-small dateinput" type="textbox" placeholder="Od" name="from"/> 
		 <input id="dateTo" class="input-small dateinput" type="textbox" placeholder="Do" name="to"/> <br><br>
		 <button type="submit" class="btn btn-primary">
		 	 <i class="icon-search"></i> Szukaj
		 </button>       
           </form>
           <p class="centered_description">Lista zadań</p><br>
           <div class="well">
           		
           		<table class="table table-bordered table-condensed">
				<thead><tr>
					<th>Nazwa zadania</th>
					<th>Przydzielone dla</th>
					<th>Stan</th>
					<th>Ostatnia modyfikacja</th>
				</tr></thead>
			<tbody>
           		{% for task in tasks %}				
           			<tr>
					<td><a href="/tasks/{{task.pk}}"><i class="icon-search"></i>{{task.name}}</a></td>
					<td><a href="/tasks/{{task.pk}}"><i class="icon-search"></i>{{task.supervisor}}</a></td>
					<td><a href="/tasks/{{task.pk}}"><i class="icon-search"></i>{{task.state}}</a></td>
					<td><a href="/tasks/{{task.pk}}"><i class="icon-search"></i>{{task.last_modified}}</a></td>
				</tr>
           		{% endfor %}
			</tbody>
           		</table>
           </div>
           <div class="pagination centered_description">
			    <ul>
			    
				{% if page.has_previous %} 
				<li >
				    <a href="?page={{ page.next_page_number }}"><i class="icon-arrow-left"></i></a>
				</li>
				{% else %}
				<li class="disabled">
				    <a href="#"><i class="icon-arrow-left"></i></a>
				</li>
			        {% endif %}			
				<li>
				<a>
				    Strona {{ page.number }} z {{ page.paginator.num_pages }}.
				</a>
				</li>
				{% if page.has_next %} 
				<li >
				    <a href="?page={{ page.next_page_number }}"><i class="icon-arrow-right"></i></a>
				</li>
				{% else %}
				<li class="disabled">
				    <a href="#"><i class="icon-arrow-right"></i></a>
				</li>
			        {% endif %}
			</div>
{% endblock %}


{% block bonus_script %}
	<link rel="stylesheet" href="http://jquery-ui.googlecode.com/svn/tags/1.8.18/themes/cupertino/jquery.ui.all.css" type="text/css" media="screen" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script> 
	<script type="text/javascript" src="http://jquery-ui.googlecode.com/svn/trunk/ui/i18n/jquery.ui.datepicker-pl.js"></script>
{% endblock %}
