{% extends "base.html" %}

{% block title %} Supervisor: {{request.user.username}} {% endblock %}

{% block content %}
          
    <div class="container-fluid">
      <div class="row-fluid margin_top_50">
        <nav class="span2 content">
          
          <ul class="nav nav-tabs nav-stacked">  <li class="alert alert-info ">Zadania</li>
            <li><a href="/new_task/"><i class="icon-file"></i> Dodaj zadanie</a></li>
            <li><a href="/tasks/"><i class="icon-search"></i> Wyszukaj / Wszystkie</a></li>
            <li><a href="/user_main/"><i class="icon-th-list"></i></i> Twój profil</a></li>
          </ul>
        </nav>
        <div class="span8 content">
          <div class="alert alert-info"><p>Podgląd</p></div>
              
               {% block user_main_content %}
               <div class="centered_description">Nadzorowane przez Ciebie zadania:<br><br></div>
               	<div class="well">
               		<table class="table table-bordered table-condensed">
               			<thead>
               				<th>Stan zadań</th>
               				<th>Liczba</th>
               				<th>Podgląd</th>
               			</thead>
               			<tbody>
		               		<tr>
		               		<td>Obecnie wykonywane:</td><td>{{tasks_current}}<img src="{{STATIC_URL}}img/current.png"/>
		               		</td><td><a class="btn" href="/search/?name=&user=&super={{request.user.username}}&state=2&time=4">Wyświetl</a></td>
		               		</tr>
		               		<tr>
		               		<td>Oczekują na rozpoczęcie:</td><td>{{tasks_pending}}<img src="{{STATIC_URL}}img/clock.png"/>
		               		</td><td><a class="btn" href="/search/?name=&user=&super={{request.user.username}}&state=1&time=4">Wyświetl</a></td>
		               		</tr>
		               		<tr>
		               		<td>Wykonane:</td><td>{{tasks_done}}<img src="{{STATIC_URL}}img/done.png"/>
		               		</td><td><a class="btn" href="/search/?name=&user=&super={{request.user.username}}&state=3&time=4">Wyświetl</a></td>
		               		</tr>
		               		<tr>
		               		<td>Anulowane:</td><td>{{tasks_cancelled}}<img src="{{STATIC_URL}}img/cancel.png"/>
		               		</td><td><a class="btn" href="/search/?name=&user=&super={{request.user.username}}&state=0&time=4">Wyświetl</a></td>
		               		</tr>
		               		<tr>
		               		<td>Łącznie:</td><td>{{tasks_created}}</td><td>
		               		<a class="btn" href="/search/?name=&user=&super=super&state=4&time=4">Wyświetl</a></td>
		               		</tr>
               			</tbody>
               		</table>
               	</div>
           <p class="centered_description">Użytkownicy pracujący nad Twoimi zadaniami:</p><br>
           <div class="well">
           		
           		<table class="table table-bordered table-condensed">
				<thead><tr>
					<th>Nazwa użytkownika</th>
					<th>Podgląd zadań</th>
				</tr></thead>
			<tbody>
           		{% for user in supervised_users %}				
           			<tr>
					<td><a href="/field_user/{{user.pk}}">{{user.username}}</a></td>
					<td><a class="btn" href="/search/?name=&user={{user.username}}&super={{request.user.username}}&state=4&time=4">Wyświetl</a></td>
				</tr>
           		{% endfor %}
			</tbody>
           		</table>
           </div>
           <div class="pagination centered_description">
			    <ul>
			    
				{% if page.has_previous %} 
				<li >
				    <a href="?page={{ page.next_page_number }}"><i class="icon-arrow-left"></i></a>
				</li>
				{% else %}
				<li class="disabled">
				    <a href="#"><i class="icon-arrow-left"></i></a>
				</li>
			        {% endif %}			
				<li>
				<a>
				    Strona {{ page.number }} z {{ page.paginator.num_pages }}.
				</a>
				</li>
				{% if page.has_next %} 
				<li >
				    <a href="?page={{ page.next_page_number }}"><i class="icon-arrow-right"></i></a>
				</li>
				{% else %}
				<li class="disabled">
				    <a href="#"><i class="icon-arrow-right"></i></a>
				</li>
			        {% endif %}
			</div>
               	
               {% endblock %} 
             
        </div>
	    <aside class="span2 content">
          <ul class="nav nav-tabs nav-stacked">  <li class="alert alert-info">Użytkownicy</li>
            <li><a href="/add_user/"><i class="icon-user"></i> Dodaj użytkownika</a></li>
            <li><a href="/search_user/"><i class="icon-search"></i></i> Wyszukaj użytkownika</a></li>
            <li><a href="/field_user/"><i class="icon-th"></i></i> Wszyscy użytkownicy</a></li>
          </ul>
        </aside>
      </div>
</div>
{% endblock %}


