{% extends "base.html" %}

{% block title %} Supervisor: {{request.user.username}} {% endblock %}

{% block content %}
          
    <div class="container-fluid">
      <div class="row-fluid margin_top_50">
        <nav class="span2 content">
          
          <ul class="nav nav-tabs nav-stacked">  <li class="alert alert-info ">Zadania</li>
            <li><a href="/add_task/"><i class="icon-file"></i> Dodaj zadanie</a></li>
            <li><a href="/add_user/"><i class="icon-search"></i> Wyszukaj zadanie</a></li>
            <li><a href="/add_user/"><i class="icon-th-list"></i></i> Wszystkie zadania</a></li>
          </ul>
          <ul class="nav nav-tabs nav-stacked">  <li class="alert alert-info">Użytkownicy</li>
            <li><a href="/add_task/"><i class="icon-user"></i> Dodaj użytkownika</a></li>
            <li><a href="/add_user/"><i class="icon-search"></i></i> Wyszukaj użytkownika</a></li>
            <li><a href="/add_user/"><i class="icon-th"></i></i> Wszyscy użytkownicy</a></li>
          </ul>
        </nav>
        <div class="span8 content">
          <div class="alert alert-info"><p>Podgląd</p></div>
              
               {% block user_main_content %}
                   {% if task_details %}
                       {% include 'task_details.html' %}
                   {% else %}
                        {% include 'all_users.html' %}
                   {% endif %}
               {% endblock %} 
             
        </div>
	    <aside class="span2 content">
          <ul class="nav nav-tabs nav-stacked">  <li class="alert alert-info">Aktywne zadania dla 
                                <span class="label label-info">user</span></li>
            <li><a href="/add_task/"><i class="icon-plus-sign"></i><i class="icon-file"></i>Dodaj zadanie</a></li>
            <li><a href="/add_user/"><i class="icon-plus-sign"></i><i class="icon-user"></i>Dodaj użytkownika</a></li>
          </ul>
        </aside>
      </div>
</div>
{% endblock %}


